@use '_css/_all.scss' as *;
@use '_css/defaults.scss';
@use '_css/details.scss';
@use '_css/dir.scss';
@use '_css/img.scss';
@use '_css/imgPreview.scss';
@use '_css/scrollbar.scss';
@use '_css/textSizes.scss';

/* Font: Space Mono                    */ @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Font: Ubuntu                        */ @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Icon: Material Symbols Outlined     */ @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {font-size: 16px;}
body {
color: var(--n-text);
background-color: var(--gray1-min);
font-family: "Ubuntu", serif;
padding: 0.25rem;
}

@media (min-width: 1024px) {
main {padding: 3rem;}
}







.material-symbols-outlined {
    color: var(--n-link);
    vertical-align: middle;
}








#block {display: block;}
#inline-block {display: inline-block;}

#margin-left {border-left: solid 1rem #000000; display: inline-block;} 

/* <math> */
#margin10 {margin: 0.10rem;}
#margin25 {margin: 0.25rem;}





























#-randomNotice::before {
    content: "These are random things that I'm not bothered to categorize yet.";
    font-style: italic;
}
.hidden {opacity: 0;}
.hidden:hover {opacity: 0.5;}





