@mixin Box0 {
    background-color:       var(--gray1-min);
    border: solid 0.25rem   var(--gray1-max) ;
    }@mixin Box1 {
    background-color:       var(--gray2-min);
    border: solid 0.25rem   var(--gray2-max);
    }@mixin Box2 {
    background-color:       var(--gray3-min);
    border: solid 0.25rem   var(--gray3-max);
    }
    