@use '_all.scss' as *;
#dir2 {
    font-weight: bold;
    font-style: normal;
    margin-left: 1rem;
    }
    #dir1 {
        padding: 0;
        margin: 0.5rem;
    }
    #dir1-box {
    border-bottom: var(--n-text) solid 0.25rem;
    padding: 0rem;
    margin: 0rem;
    font-weight: bold;
    font-style: normal;
    }
    @media (max-width: 1024px) {#dir1-box {display: none;}}
    @media (min-width: 1024px) {#dir2    {display: none;}}
    
    