@use "_misc.scss";
@use "_mixins.scss" as m;

/* Small devices (0px - 424px) */
@media (min-width: 0px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
    h5 { font-size: 1.125rem; }
    h6 { font-size: 1rem; }
    p, a, button, code, math, li, th, td, li:before {font-size: 0.875rem;}
    /* Icons */ .material-symbols-outlined {font-size: 1.1rem;}
}

/* Small devices (425px - 767px) */
@media (min-width: 425px) {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
    h6 { font-size: 1.125rem; }
    p, a, button, code, math, li, th, td, li:before {font-size: 1rem;}
    /* Icons */ .material-symbols-outlined {font-size: 1.25rem;}
}

/* Medium devices (768px - 1023px) */
@media (min-width: 768px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.25rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.75rem; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; }
    p, a, button, code, math, li, th, td, li:before {font-size: 1.125rem;}
    /* Icons */ .material-symbols-outlined {font-size: 1.4rem;}
}

/* Large devices (1024px and 1439px+) */
@media (min-width: 1024px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2.25rem; }
    h4 { font-size: 2rem; }
    h5 { font-size: 1.75rem; }
    h6 { font-size: 1.5rem; }
    p, a, button, code, math, li, th, td, li:before {font-size: 1.25rem;}
    /* Icons */ .material-symbols-outlined {font-size: 1.6rem;}

    
    /* Only for 1024px and up */ 
    math {font-size: 2rem;}
}
